---
attributeCondition: assertion.sub.startsWith("organization:{{ terraform_org }}:project:Workspaces")
attributeMapping:
  attribute.aud: assertion.aud
  attribute.terraform_full_workspace: assertion.terraform_full_workspace
  attribute.terraform_organization_id: assertion.terraform_organization_id
  attribute.terraform_organization_name: assertion.terraform_organization_name
  attribute.terraform_project_id: assertion.terraform_project_id
  attribute.terraform_project_name: assertion.terraform_project_name
  attribute.terraform_run_id: assertion.terraform_run_id
  attribute.terraform_run_phase: assertion.terraform_run_phase
  attribute.terraform_workspace_id: assertion.terraform_workspace_id
  attribute.terraform_workspace_name: assertion.terraform_workspace_name
  google.subject: assertion.sub
description: {{ terraform_org }} Terraform Cloud identity provider for {{ org_name }}.
disabled: False
displayName: Terraform Cloud OIDC Provider
oidc:
    allowedAudiences:
        - 'https://tfc.{{ org_name }}'
    issuerUri: 'https://app.terraform.io'